<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div style="text-align:center">
    <h3>Tu registro a sido exitoso!</h1>
    <br/>
    <br/>
    <h1>Aqui tienes tu codigo!</h1>
</div>
<div style="text-align:center">
<img src="/assets/img/{{first}}.png">
<img src="/assets/img/{{second}}.png">
<img src="/assets/img/{{third}}.png">
<img src="/assets/img/{{fourth}}.png">
</div>
<div style="text-align:center">
    <br/>
    <br/>
    <h5>Guardalo para el evento!</h1>
</div>
